@tailwind base;
@tailwind components;
@tailwind utilities;

/* Quaternary (четвертый уровень)
Quinary (пятый уровень)
Senary (шестой уровень)
Septenary (седьмой уровень)
Octonary (восьмой уровень)
Nonary (девятый уровень)
Denary (десятый уровень) */

@layer base {
  /* first level: color  */
  .bg-primary {
    /* white */
    @apply bg-neutral-100;
    /* dark */
    @apply dark:bg-neutral-900;
  }

  /* second level: color  */
  .bg-glass {
    /* white */
    @apply supports-[backdrop-filter]:!bg-neutral-200/60 !bg-neutral-200/60;
    /* dark */
    @apply dark:!bg-neutral-800/60 dark:supports-[backdrop-filter]:!bg-neutral-800/60;
    /* main */
    @apply backdrop-blur-[4px];
  }

  .card-primary {
    /* white */
    @apply bg-neutral-200 supports-[backdrop-filter]:bg-neutral-200;
    /* dark */
    @apply dark:bg-neutral-800 dark:supports-[backdrop-filter]:bg-neutral-800;
    /* main */
    @apply border-none backdrop-blur-[4px];
  }

  /* third level: color  */
  .button-primary {
    /* white */
    @apply bg-neutral-300 !text-neutral-500 dark:border-none;
    /* dark */
    @apply dark:bg-neutral-700 dark:!text-neutral-400;
    /* main */
    @apply !font-[200];
  }

  .button-secondary {
    /* white */
    @apply bg-neutral-300 !text-neutral-500 dark:border-none;
    /* dark */
    @apply dark:bg-neutral-700 dark:!text-neutral-300;
    /* main */
    @apply !font-[200];
  }

  .input-primary {
    /* white */
    @apply bg-neutral-300 text-neutral-700 placeholder-neutral-100;
    /* dark */
    @apply dark:bg-neutral-700 dark:text-neutral-300 dark:!placeholder-neutral-500;
    /* main */
    @apply border-none border-neutral-950/10 focus-visible:!outline-[0.1px] focus-visible:!ring-[1px];
  }

  .input-warning {
    /* white */
    @apply bg-neutral-100/50 text-neutral-900 dark:bg-neutral-800 dark:text-neutral-200;
    /* dark */
    @apply dark:bg-neutral-700 dark:text-neutral-300 dark:!placeholder-neutral-800;
    /* main */
    @apply border-warning-500/50;
  }

  .text-primary {
    /* white */
    @apply text-neutral-500;
    /* dark */
    @apply dark:text-neutral-400;
    /* main */
    @apply !font-[200] transition-all;
  }

  .text-secondary {
    /* white */
    @apply text-neutral-400;
    /* dark */
    @apply dark:text-neutral-600;
    /* main */
    @apply !font-[200] transition-all;
  }

  .text-tertiary {
    /* white */
    @apply !text-neutral-100;
    /* dark */
    @apply dark:!text-neutral-500;
    /* main */
    @apply !font-[200] transition-all;
  }

  .text-quaternary {
    /* white */
    @apply !text-neutral-50/45;
    /* dark */
    @apply dark:!text-neutral-600/45;
    /* main */
    @apply !font-[200] transition-all;
  }

  /* fourth level: color  */

  /* other level: color  */

  .hover-color-primary {
    /* white */
    @apply hover:!text-neutral-600;
    /* dark */
    @apply dark:hover:!text-neutral-300;
  }

  .input-slider {
    /* white */
    @apply bg-neutral-500;
    /* dark */
    @apply dark:bg-neutral-400;
    /* main */
    @apply border-none border-neutral-950/10 last:[&>span>span]:border-none last:[&>span>span]:bg-neutral-600/50 last:[&>span>span]:backdrop-blur-[2px] last:[&>span>span]:focus-visible:!outline-none last:[&>span>span]:focus-visible:!ring-[0.1px];
  }

  /* in drawer  */
  .toggle-single {
    /* white */
    @apply hover:bg-neutral-600/20 data-[state=on]:bg-neutral-600/20;
    /* dark */
    @apply hover:dark:bg-neutral-950/20 data-[state=on]:dark:bg-neutral-950/20;
  }

  .toggle-popover {
    /* white */
    @apply hover:bg-neutral-600/20;
    /* dark */
    @apply hover:dark:bg-neutral-950/20;
    /* main */
    @apply inline-flex h-10 w-10 cursor-pointer items-center justify-center rounded-md p-[12px] focus-visible:outline-none focus-visible:ring-2 disabled:pointer-events-none disabled:opacity-50;
  }
}

@layer base {
  .svg-icon-stroke {
    @apply stroke-neutral-700  dark:stroke-neutral-200;
  }

  .svg-icon-fill {
    @apply fill-neutral-700 dark:fill-neutral-200;
  }

  /* ----------------------------------------------------------------------- */

  .horizontal-mask {
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 3%,
      black 50%,
      black 50%,
      transparent 95%
    );
    mask-image: linear-gradient(
      to right,
      transparent 3%,
      black 50%,
      black 50%,
      transparent 95%
    );
  }
  .vertical-mask {
    -webkit-mask-image: linear-gradient(
      to bottom,
      transparent,
      black 10%,
      black 90%,
      transparent
    );

    mask-image: linear-gradient(
      to bottom,
      transparent,
      black 10%,
      black 90%,
      transparent
    );
  }

  /* ----------------------------------------------------------------------- */

  .text-black-stroke-thin {
    -webkit-text-stroke: 0.5px black;
    text-stroke: 0.5px black; /* Это нестандартное свойство и может не поддерживаться в некоторых браузерах */
  }
}

/* Loading анимация */

@keyframes ldio-rpinwye8j0b {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-rpinwye8j0b div {
  position: absolute;
  animation: ldio-rpinwye8j0b 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #d0c5c696;
  transform-origin: 80px 82px;
}
.loadingio-eclipse {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-rpinwye8j0b {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-rpinwye8j0b div {
  box-sizing: content-box;
}
